[cellbase]
species: hsapiens
version: latest
assembly: GRCh38
host: 10.5.8.201:8080/cellbase-4.5.0-rc

[panelapp]
host: bioinfo.extge.co.uk/crowdsourcing/WebServices
# Comma separated list of gene confidence association to disease for genes in panels (possible values: HighEvidence, MediumEvidence, LowEvidence)
gene_confidence : HighEvidence

[transcript_filtering]
# Comma separated list determining those transcript flags that will be considered for analysis. Any of this
flags: basic
# Comma separated list determining those transcript biotypes that will be considered for analysis. Any of this
biotypes: IG_C_gene,IG_D_gene,IG_J_gene,IG_V_gene,IG_V_gene,protein_coding,nonsense_mediated_decay,non_stop_decay,TR_C_gene,TR_D_gene,TR_J_gene,TR_V_gene

[exon]
exon_padding: 15

[logging]
#CRITICAL = 50
#FATAL = CRITICAL
#ERROR = 40
#WARNING = 30
#WARN = WARNING
#INFO = 20
#DEBUG = 10
#NOTSET = 0
level: 10
