[cellbase]
species: hsapiens
version: latest
assembly: GRCh37
host: 10.5.8.201:8080/cellbase-4.5.0-rc

[panelapp]
host: bioinfo.extge.co.uk/crowdsourcing/WebServices

[gene_filtering]
# This enables filtering genes by basic flag for panel and whole exome modes. Gene list mode is not affected by this parameter
filter_basic_flag: 1
# Comma separated list determining those gene biotypes that will be considered for panel and whole exome modes. Gene list mode is not affected by this parameter
filter_biotypes: IG_C_gene,IG_D_gene,IG_J_gene,IG_V_gene,IG_V_gene,protein_coding,nonsense_mediated_decay,non_stop_decay,TR_C_gene,TR_D_gene,TR_J_gene,TR_V_gene